.header {
  background-color: #058b94;
  height: 100px;
  width: 100%;
  padding: 10px 55px;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

.ant-input-search-button {
  border: none;
}
