.button {
  border: 0;
  cursor: pointer;
  width: 156px;
  height: 47px;
  background: #058b94;
  border-radius: 10px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
}

.t_align {
  text-align: right;
}

.about {
  display: flex;
  align-items: center;
}

.about_header {
  display: flex;
  align-items: center;
  width: 305px;
  height: 90px;
}

.about_name {
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  color: #333;
  width: 181px;
  height: 35px;
  margin-bottom: 0;
}

.about_role {
  width: 44px;
  height: 27px;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #808080;
  margin-top: 0;
}

.profile {
  margin-left: 20px;
  padding-top: 10px;
}

.meta {
  div {
    display: flex;
    align-items: center;
    gap: 2em;
    margin-bottom: 1em;
  }

  h4 {
    display: inline-block;
    margin: 0;
  }

  p {
    margin: 0;
  }
}

.flag {
  margin-left: 5px;
  width: 20px;
  border-radius: 2px;
}

.profile_description {
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  margin-top: 60px;
  padding-left: 30px;
  padding-right: 30px;
}

.about_title {
  width: 64px;
  height: 40px;
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  color: #333;
  margin-top: 22px;
}

.about_desc {
  width: 70%;
  height: 85px;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #4d4d4d;
}

.about_desc_container {
  background-color: #f7feff;
  border: 1px solid #e6fdfe;
  box-sizing: border-box;
  padding-top: 20px;
  padding-left: 20px;
  margin-bottom: 64px;
}

.icon {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #808080;
  margin-left: 10px;
}

.icon_color {
  color: #058b94;
}

.icon_container {
  width: 300px;
  height: 27px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin-bottom: 33px;
}

.social_color {
  color: #4d4d4d;
}

.social_icon {
  width: 142px;
  height: 33px;
  font-weight: 600;
  font-size: 20px;
  line-height: 33px;
  color: #4d4d4d;
  margin-left: 12px;
}

.social_icon_container {
  display: flex;
  flex-direction: row;
  padding: 5px 11px;
  height: 40px;
  background-color: #e6fdfe;
  border-radius: 5px;
  margin-bottom: 1em;
}

.spin {
  width: 100px;
  height: 100px;
  background-color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.spin {
  width: 100px;
  height: 100px;
  background-color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
