.stats {
  display: grid;
  grid-template-columns: 20% auto;
}

.card {
  background: #e6fdfe;
  border-radius: 7px;
  padding: 14px;
  display: flex;
  justify-content: space-between;
  width: 230px;
}

.top_cards {
  display: flex;
  justify-content: space-between;
}

.card_container::-webkit-scrollbar {
  display: contents;
  opacity: 0;
  width: 5px;
  height: 5px;
}

.cardcontainer::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

.card_container:hover::-webkit-scrollbar-thumb {
  background: #e6fdfe;
}

.card_container:hover::-webkit-scrollbar {
  display: block;
}

.card_container {
  background: #f7feff;
  border-radius: 7px;
  padding: 12px;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@media (max-width: 1080px) {
  .stats {
    display: block;
  }
}

@media (max-width: 1550px) {
  .top_cards {
    display: grid;
    grid-template-columns: 230px 230px 230px 230px;
    gap: 2em;
  }
}
