.active_program {
  background-color: #058b94;
  border-radius: 7px;
  color: #f7feff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
  margin-right: 40px;
}

.active_program_number {
  font-size: 64px;
  font-weight: 600;
}

.active_program_p {
  font-size: 20px;
  font-weight: 700;
  margin-left: 12px;
}

.active_program_view {
  background-color: #fff;
  width: 55px;
  color: #035d63;
  font-size: 12px;
  font-weight: 400;
  border-radius: 5px;
  border: 1px solid #058b94;
  float: right;
  margin-top: -45px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details_card_container {
  padding: 20px 20px;
  border-radius: 10px;
  border: 1px solid #e6fdfe;
  background-color: #f7feff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.details_card_row {
  margin-top: 28px;
  padding: 20px 20px;
  border-radius: 10px;
  border: 1px solid #e6fdfe;
  background-color: #f7feff;
}

.overview_header {
  font-weight: 600;
  font-size: 18px;
}

.details_column {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.details_in_progress_header {
  font-size: 20px;
  font-weight: 600;
}

.details_in_progress_container {
  background-color: #058b94;
  border-radius: 7px;
  width: 120px;
  color: #f7feff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mt {
  margin-top: 28px;
}

.button_container {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.programs_header_justify {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  align-items: center;
  margin-bottom: 10px;
}

.program_badge {
  display: flex;
  box-sizing: border-box;
  height: 30px;
  background: #fff;
  border: 1px solid #e6fdfe;
  border-radius: 5px;
  align-items: center;
  padding: 0 8px;
  font-weight: 600;
  font-size: 18px;
  color: #333;
}

.header_text {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 12px;
}
