.main_sub_div {
  display: flex;
}

.main_sub_icon {
  margin: 10px 0 0 5px;
  width: 48px;
}

/* .main_sub_content {
 display: block;
} */

.main_sub_content h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #333;
  padding-left: 35px;
  padding-top: 10px;
  height: 10px;
}

.main_sub_content_timeicon {
  padding-left: 35px;
  padding-top: 20px;
}

.main_sub_content_time {
  padding-left: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #808080;
  padding-top: 24px;
}

.main_sub_content_timeicon1 {
  padding-left: 65px;
  padding-top: 20px;
}

.main_sub_con_main {
  height: 10px;
  display: flex;
}

.main_sub_con {
  display: flex;
}

.main_sub_content_archor {
  padding-left: 20rem;
}

.wrapper {
  padding: 1rem 0;
  overflow-y: scroll;
  max-height: 62vh;
}

.search {
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: 50%;
  margin-left: 25rem;
}
