.broadcast_panel {
  width: 100%;
  font-family: "Mukta", sans-serif;
  background-color: white;
}

.broadcast_panel div:not(:last-child) {
  margin-bottom: 24px;
}

.mention_input {
  height: 48px;
  display: flex;
  align-items: center;
}

.close_btn {
  padding: 10px 40px;
  height: fit-content;
  background-color: #058b94;
  color: white;
  font-size: 16px;
  border-radius: 10px;
}

.close_btn:hover {
  background-color: #035d63;
  color: white;
}

.broadcast_title {
  font-weight: 500;
  font-size: 24px;
  margin: 0;
}

.broadcast_board {
  background-color: #f7feff;
  color: black;
  padding: 2rem 1rem;
  border-radius: 20px;
}

.messages_container {
  height: 30rem;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #06b9c6;
  padding: 1rem 2rem;
}

.broadcast_message {
  font-size: 20px;
}

div.broadcast_message:not(:last-child) {
  margin-bottom: 2rem;
}

.text_message {
  background-color: #e6fdfe;
  padding: 1.5rem 1rem 0.5rem 1rem;
  border-radius: 10px;
}

.message {
  padding: 0;
  color: #4d4d4d;
  line-height: 28px;
  font-size: 18px;
  font-weight: 300;
}

.sender {
  font-size: 12px;
  font-weight: 600;
  text-decoration: underline;
}

.time {
  font-size: 12px;
  color: #4d4d4d;
}

.date {
  text-align: center;
  font-size: 12px;
  color: #808080;
}

.double_check {
  margin-left: 8px;
  color: red;
}

.message_footer {
  margin-top: 1rem;
}

.mention {
  width: 100%;
}

/* Chrome, Edge, and Safari */
.messages_container::-webkit-scrollbar {
  width: 6px;
}

.messages_container::-webkit-scrollbar-track {
  background: #f7feff;
  cursor: pointer;
}

.messages_container::-webkit-scrollbar-thumb {
  background-color: #06b9c6;
  border-radius: 20px;
  border: 1px solid #06b9c6;
  cursor: pointer;
}

.textarea {
  display: flex;
}

.text_message_area {
  border-radius: 7px;
  border: 1px solid #e6fdfe;
  background: #f7feff;
  top: 1.5rem;
  height: 48px;
  display: flex;
  align-items: center;
}

.message_input {
  height: 48px;
  background-color: #f7feff;
  border: 0;
}

.emoji_picker {
  position: "absolute";
  bottom: "80%";
  left: "50%";
  transform: "translate(-10%, -10px)";
}
