.container_width {
  width: 100%;
}

.card {
  width: 100%;
  padding: 0;
  margin-bottom: 28px;
  padding-bottom: 0;
}

.row_justify {
  justify-content: space-between;
}

.profile {
  margin-left: 18px;
  padding-top: 10px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.role {
  font-size: 12px;
  font-weight: 400;
  margin-top: 0;
}

.row_mt {
  margin-top: 14px;
}

.data_title {
  font-size: 20px;
  font-weight: 400;
  color: #333;
  line-height: 33.24px;
  word-wrap: break-word;
}

.data_post {
  margin-top: 7px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26.59px;
  color: #808080;
  width: 900px;
  flex-wrap: wrap;
  flex: 1;
  word-wrap: break-word;
}

.icons_container {
  justify-content: space-between;
  display: flex;
  width: 96%;
  margin-bottom: 0;
  margin-top: 26px;
}

.icons {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.clock_icon {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
