.welcome_header {
  font-weight: 700;
  font-size: 32px;
  color: #141414;
  line-height: 53.18px;
  margin-top: 100px;
  height: 53px;
  margin-bottom: 0;
}

.login_text {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 30px;
  line-height: 39.89px;
  color: #808080;
  height: 40px;
}

.login_input {
  font-size: 20px;
  width: 90%;
  height: 50px;
}

.archive_input {
  font-size: 16px;
  width: 90%;
  height: 40px;
  margin-right: 2rem;
  border-radius: 5px;
}

.div_input {
  display: flex;
}

.login_input_margin {
  margin-bottom: 20px;
}

.login_button_container {
  width: 100%;
  margin-top: 40px;
}

.login_button {
  background-color: #058b94;
  height: 50px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  width: 90%;
}

.google_login_button {
  display: flex;
  height: 50px;
  flex-direction: row;
  flex: 1;
  align-items: flex-start;
  justify-content: center;
  width: 90%;
  border-radius: 10;
  border-color: #023c40;
}

.forgot_password_text {
  text-align: right;
  text-decoration: underline;
  font-size: 16px;
  line-height: 26.59px;
  font-weight: 600;
  color: #141414;
  width: 90%;
  margin-top: 15px;
  cursor: pointer;
}

.signup {
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  margin-top: 40px;
  cursor: pointer;
  color: #141414;
  text-align: center;
}

.signin_text {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  color: #023c40;
  display: flex;
  align-items: center;
}
