.container {
  display: flex;

  /* justify-content: space-evenly; */
}

.button1 {
  cursor: pointer;
  height: 40px;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button2 {
  cursor: pointer;
  margin-right: 3.5rem;
  height: 40px;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indextotal {
  /* width: 8rem; */
  margin-top: 0.7rem;
}

@media (max-width: 992px) {
  .container {
    margin-top: 1rem;
  }
}

@media (max-width: 540px) {
  .container {
    margin-top: 1rem;
  }

  .indextotal {
    /* width: 5rem; */
  }
}
