.container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.sub_container {
  margin-bottom: 30px;
  align-items: center;
}

.input {
  height: 50px;
  border-radius: 7px;
  font-size: 16px;
  line-height: 27px;
  color: #999;
  font-weight: 400;
}

.input.small {
  height: 40px;
}

.label {
  font-size: 16px;
  line-height: 27px;
  color: #333;
  margin-right: 27.65px;
  font-weight: 600;
}

.button {
  background-color: #058b94;
  border-color: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
  height: 47px;
  border-radius: 10px;
  padding: 10px 40px 10px 40px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 27px;
}

.btn_container {
  justify-content: space-around;
}

.btn_sub {
  display: flex;
  justify-content: flex-end;
}

.forgot_password_text {
  text-align: center;
  margin-top: 33px;
  font-size: 18px;
  line-height: 30px;
  color: #023c40;
  font-weight: 600;
  text-decoration: underline;
}
