.container {
  margin: 0 auto;
}

.set_password_text {
  font-weight: 700;
  font-size: 32px;
  line-height: 53.18px;
  color: #141414;
  height: 53px;
  margin-bottom: 20px;
}

.input {
  font-size: 20px;
  width: 100%;
  margin-top: -34px;
}

.password_warning_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #808080;
  width: 426px;
  height: 120px;
  margin-top: 20px;
}

.button {
  background-color: #058b94;
  font-weight: 600;
  height: 50px;
  font-size: 18px;
  color: #fff;
  width: 100%;
  margin-top: 40px;
}

.forgot_password_text {
  font-weight: 700;
  font-size: 32px;
  line-height: 53.18px;
  color: #141414;
  height: 53px;
  margin-bottom: 0;
}

.email_confirmation_text {
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  color: #808080;
  width: 426px;
  height: 120px;
  margin-top: 3px;
}
