.password_main {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  max-width: 800px;
  flex-grow: 1;
  margin: 1rem;
  padding: 2rem;
}

.con_new_sub_div,
.new_sub_div,
.current_sub_div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.current_label_div label {
  font-weight: 600;
  font-size: 16px;
  position: absolute;
  top: 7.5rem;
  left: 22.5rem;
}

.new_label_div label {
  font-weight: 600;
  font-size: 16px;
  position: absolute;
  top: 11rem;
  left: 22.5rem;
}

.con_new_label_div label {
  font-weight: 600;
  font-size: 16px;
  position: absolute;
  top: 15rem;
  left: 22.5rem;
}

.confirmNewPassword,
.newPassword,
.currentPassword {
  width: 520px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  padding: 15px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}

.button {
  width: 215px;
  height: 47px;
  font-size: 1.2rem;
  background-color: #058b94;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 1rem;
  margin-left: 32.3rem;
  margin-bottom: 4rem;
}

.button:hover {
  background-color: #058b94;
}

.sub_div_link {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #023c40;
  text-decoration: underline;
  margin-left: 19rem;
}
