.main_div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: white;
}

.sub_div {
  flex-grow: 1;
  max-width: 100%;
  margin: 1rem 2rem 2rem 2rem;
  padding: 2rem;
  color: black;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}
