.main_div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}

.sub_div {
  flex-grow: 1;
  max-width: 80%;
  padding: 2rem;
  margin-left: 1rem;
  color: black;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}
