.main_div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #fff;
  padding-top: 15px;
}

.sub_div {
  display: flex;
  flex: 1;
  width: 80%;
  border: 1px solid #e6e6e6;
  margin-left: 28px;
  border-radius: 5px;
  padding-left: 25px;
  padding-top: 18px;
  padding-bottom: 21px;
}
