.container {
  text-align: center;
}

.logo_text {
  font-weight: 700;
  font-size: 32px;
  line-height: 53.18px;
  color: #fff;
}

.modal {
  height: 350px;
  width: 600px;
  border-radius: 20px;
}

.modal_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 28px 20px 28px 20px;
  border-radius: 20px;
}

.modal_text {
  font-size: 24px;
  font-weight: 600;
  line-height: 40px;
  text-align: center;
  color: #141414;
}

.modal_b2 {
  width: 121px;
  height: 50px;
  background-color: #058b94;
  border-radius: 10px;
  border: none;
  color: white;
  margin-left: 0.4rem;
}

.modal_b1 {
  width: 121px;
  height: 50px;
  border-radius: 10px;
  color: #023c40;
  border: 1px solid #023c40;
  margin-right: 0.4rem;
}

.invite_input {
  margin-bottom: 1rem;
  width: 100%;
}

.invite_input_name {
  display: flex;
  margin-bottom: 1rem;
}

.invite_input_name_first {
  margin-right: 1rem;
}

.invite_input_name_btn {
  margin-left: 4rem;
}
