.category_area {
  width: 25%;
}

.requests {
  width: 75%;

  h1 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
}

.request {
  width: 100%;
  padding: 0 1rem;
}

.request_categories,
.recent_requests {
  padding: 1rem 0.6rem 0.6rem 0.6rem;
  background-color: #f7feff;

  > h1 {
    font-size: 1.1rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
  }
}

.recent_requests {
  max-height: 45vh;
  overflow-y: auto;
}

.request_categories > label {
  color: black;
  background: transparent;
  cursor: pointer;
  display: block;
  width: 100%;
}

.request_categories input[type="radio"] {
  display: none;
}

.request_categories input + div {
  padding: 1.2rem 1rem;
  font-weight: bold;
}

.request_categories input:checked + div {
  background-color: #fff;
}

.request_category_count {
  margin: 0;
  font-size: 1.5rem;
}

.request_count {
  padding: 0.3rem 0.5rem;
  background-color: #cc000e;
  color: #fff;
}

.request_list {
  max-height: 77vh;
  overflow-y: auto;
}

.program_icon {
  margin-right: 2.5rem;
}
