@import "./variables.module.scss";

.button {
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  padding: 6px 15px;

  &.primary {
    background: $theme-primary;
    color: $theme-light;
  }

  &.default {
    background: $theme-light;
    color: $theme-primary;
  }

  &.medium {
    font-weight: 500;
    padding: 12px 35px;
  }

  &.large {
    font-size: 16px;
    font-weight: 500;
    padding: 18px 65px;
  }
}
