.header {
  font-weight: 700;
  font-size: 24px;
}

.image_main {
  width: 16rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
}

.image_sub_upload {
  position: relative;
}

.image_sub_upload p {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: rgba(51, 51, 51, 1);
  margin: 10px 0 15px 0;
}

.image_upload_button {
  border: 2px solid #058b94;
  border-radius: 5px;
  padding: 1px 5px;
  color: #058b94;
}

.image_upload_button input[type="file"] {
  display: none;
}

.item_container {
  margin-top: 2rem;
}

.label {
  font-weight: 700;
  font-size: 20px;
  margin-top: 1rem;
}

.input_div {
  margin-top: 1rem;
}

.mentor_container {
  background-color: #f7feff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 1em;
  text-align: center;
  gap: 1em;
  margin-bottom: 2em;
  margin-top: 2rem;
}

.selected_item_text {
  background-color: #fff;
  padding: 2px 20px;
  display: flex;
  gap: 1em;
  align-items: center;
}
