@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Mukta", sans-serif;
}

* {
  font-size: 16px;
  font-family: "Mukta", sans-serif;
  box-sizing: border-box;
}

.logo-text {
  color: #fff;
  font-weight: 600;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-end {
  justify-content: flex-end;
}

.flex-align-end {
  align-items: flex-end;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-between {
  justify-content: space-between;
}

.flex-justify-around {
  justify-content: space-around;
}

.flex-align-between {
  align-items: space-between;
}

.gap-10 {
  gap: 10px;
}

.gap-16 {
  gap: 16px;
}

.relative {
  position: relative;
}

.list_main_text {
  color: #333;
  font-weight: 600;
  margin-bottom: 0.2rem;
}

.list_sub_text {
  color: #808080;
  font-size: 0.8rem;
  margin-bottom: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.h-full {
  height: 100%;
}

.tag {
  background-color: #e6fdfe;
  padding: 0.3rem 0.6rem;
  text-transform: uppercase;
  border-radius: 3px;
  margin: 0;
  font-weight: 300;
  font-size: 0.8rem;
}

.circle-img {
  border-radius: 50%;
}
