@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Dancing Script', cursive;
}

.theme-primary {
  color: #058b94;
}

.theme-light {
  color: #f7feff;
}

.text-light {
  color: #808080;
}

.text-dark {
  color: #141414;
}

.text-default {
  color: #333;
}

* {
  font-size: 16px;
  font-family: 'Mukta', sans-serif;
}

.logo-text {
  color: #fff;
  font-weight: 600;
}
