.app_layout {
  background: #fff;
}

.app_layout_content {
  margin: 32px 24px;
  background-color: white;
  max-height: calc(90vh - 90px);
  overflow-y: hidden;
}

.archive_input {
  font-size: 16px;
  width: 70%;
  height: 40px;
  margin-left: 6rem;
  border-radius: 5px;
  margin-bottom: 2rem;
}

.div_input {
  display: flex;
}

.task_icon {
  margin-right: 26rem;
  display: flex;
  width: 100%;
}

.mentor_icon {
  display: flex;
  margin-top: 0.5rem;
  width: 20%;
}

.mentor_icon1 {
  display: flex;
  margin-top: 0.5rem;
  width: 50%;
}

.task_search_icon {
  margin-right: 2rem;
  cursor: pointer;
}

.task_filter_icon {
  cursor: pointer;
}

.task_create {
  margin-right: 4rem;
}

.task_memtor {
  margin-right: 1rem;
  display: flex;
}

.taskbutton {
  background-color: #058b94;
  border-color: none;
  box-shadow: none;
  border: none;
  height: 47px;
  border-radius: 10px;
  padding: 10px 40px 10px 40px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 27px;
}

.mentorbutton {
  background-color: #058b94;
  border-color: none;
  box-shadow: none;
  border-radius: 10px;
  padding: 2px 15px;
  color: #fff;
  margin-top: 0.5rem;
  border: none;
  margin-left: 0.9rem;
}

.mentorbutton1 {
  color: #058b94;
  border-color: #058b94;
  box-shadow: none;
  border-radius: 10px;
  padding: 2px 15px;
  margin-top: 0.5rem;
}

.task_memtor > .mentorbutton1:hover {
  color: #058b94;
  border-color: #058b94;
}

.task_memtor > .mentorbutton:hover {
  border-color: #058b94;
  color: #fff;
}

.msg_search_icon {
  margin-left: 5rem;
}

@media (max-width: 1024px) {
  .task_memtor {
    display: block;
  }

  .mentorbutton {
    margin-left: 1.6rem;
  }

  .mentor_icon {
    width: 50%;
  }
}

@media (max-width: 992px) {
  .task_create,
  .task_icon {
    margin-right: 0;
    margin-top: 1rem;
  }

  .archive_input {
    margin-top: 1rem;
  }

  .taskbutton {
    padding: 1px 15px;
    color: #fff;
    background-color: #058b94;
    margin-right: 0.5rem;
  }

  .msg_search_icon {
    margin-left: 0;
  }

  .mentor_icon {
    margin-top: 1.4rem;
  }

  .task_memtor {
    margin-top: 1rem;
  }
}

@media (max-width: 540px) {
  .div_input {
    display: block;
  }

  .task_memtor {
    display: flex;
  }

  .mentorbutton {
    margin-left: 0.2rem;
  }
}
