.main_div {
  display: flex;
  padding-left: 1rem;
  margin-top: 1rem;
  height: 100vh;
}

.side_div {
  height: 100vh;
  overflow-y: scroll;
}

.side_div_sub {
  background-color: #fff;
  width: 19.4rem;
  height: 70px;
  display: flex;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.chat_div {
  width: 67%;
  margin-left: 2rem;
}

.side_div_sub_chat {
  padding-top: 0.9rem;
  padding-left: 1rem;
}

.side_div_sub_desc {
  display: flex;
  padding-left: 0.5rem;
  padding-top: 1rem;
}

.side_div_sub_detail2 {
  padding-left: 2.5rem;
}

.name {
  font-weight: 600;
  font-size: 16px;
  color: #141414;
}

.detail {
  font-weight: 400;
  font-size: 12px;
  color: #4d4d4d;
  padding-top: 0.2rem;
}

.time {
  font-weight: 400;
  font-size: 12px;
  color: #4d4d4d;
}

.notic {
  padding-top: 0.4rem;
}

@media (max-width: 992px) {
  .chat_div {
    display: none;
  }

  .side_div_sub {
    margin-left: 1.8rem;
  }
}

@media (max-width: 480px) {
  .side_div_sub {
    margin-left: 1.5rem;
  }
}

@media (min-width: 480px) and (max-width: 992px) {
  .side_div_sub {
    margin-left: 12rem;
  }

  .main_div {
    margin-left: 1rem;
  }
}
