.header {
  background-color: #058b94;
  height: 100px;
  width: 100%;
  padding: 10px 50px;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

.ant-input-search-button {
  border: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_right,
.navbar_icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.navbar_search {
  width: 540px;
}

.logo_container {
  display: flex;
  align-items: center;
}

.logo_text {
  color: #fff;
  font-weight: 600;
}

@media (max-width: 576px) {
  .header {
    padding: 10px;
  }

  .logo_text {
    display: none;
  }
}

@media (max-width: 1080px) {
  .header {
    height: 100%;
  }

  .logo_text {
    display: none;
  }

  .navbar_search {
    width: 320px;
  }

  .navbar_icons {
    display: none;
  }
}
