.module_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.module_header_title {
  color: #141414;
  margin-bottom: 0.5rem;
  font-size: 24px;
  margin-left: 1.8rem;
  margin-top: 0.8rem;
  font-weight: 600;
}

@media (max-width: 992px) {
  .module_header {
    margin-top: 1rem;
    margin-left: 0.5rem;
  }
}
