@import "./variables.module.scss";

.sidebar_layout {
  background: $theme-light;
}

.welcome_text_header {
  padding: 32px 55px;

  .welcome_text {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
  }
}

.sidebar_menu {
  background: none;
  border: none;
  height: 80vh;
  padding-top: 30px;

  .item {
    padding-left: 55px;
    margin: 0;
    width: 100%;
  }

  .link {
    margin-left: 22px;
  }
}

@media (max-width: 992px) {
  .ant-layout-sider {
    position: absolute;
    left: 0;
    z-index: 99;
  }
}
