.sidebar_link {
  margin-left: 22px;
}

.sidebar_menu {
  height: 80vh;
  padding-top: 30px;
}

@media (max-width: 992px) {
  .ant-layout-sider {
    position: absolute;
    left: 0;
    z-index: 99;
  }
}
