.wrapper {
  background-color: white;
  padding: 2rem;
}

.bearer_name {
  font-size: 2.5rem;
  margin: 1.5rem 0 0.5rem 0;
  text-transform: uppercase;
}

p.certification_lead_text {
  margin: 2rem 0 0 0;
}

.certification_text {
  font-size: 2.5rem;
  margin: 1.5rem 0;
  text-transform: uppercase;
}

.download_format_options {
  width: 80px;
}
